.zoom {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9992;
}
.zoom .zoom-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .9;
  z-index: 9991;
}
.zoom .zoom-show-wrap {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background: #fff;
  text-align: center;
  z-index: 9992;
}
.zoom .zoom-show-wrap .zoom-navigation {
  width: 0.93333333rem;
  height: 0.53333333rem;
  line-height: 0.53333333rem;
  position: absolute;
  top: 0.4rem;
  left: 50%;
  margin-left: -0.33333333rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  text-align: center;
  color: #fff;
  font-size: 0.32rem;
}
.zoom .zoom-show-wrap > img {
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}
.zoom .zoom-show-wrap .zoom-pic {
  transition: all 0.3s ease-in-out;
}
.zoom .zoom-show-wrap .zoom-close {
  width: 0.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
  position: absolute;
  left: 50%;
  bottom: -1.06666667rem;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 200%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  transition: all .5s;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 0.21333333rem;
  cursor: pointer;
}
.zoom .zoom-show-wrap .zoom-close:hover {
  transform: rotate(180deg);
}
.zoom .zoom-show-wrap .zoom-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.zoom .zoom-show-wrap .zoom-handel {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 0.66666667rem;
  background-position: left;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.zoom .zoom-show-wrap .zoom-prev {
  left: 0;
  background-image: url(../../images/prev_blank.png);
}
.zoom .zoom-show-wrap .zoom-next {
  right: 0;
  background-image: url(../../images/next_blank.png);
  background-position: right;
}
.zoom .zoom-show-wrap .zoom-prev:active,
.zoom .zoom-show-wrap .zoom-next:active {
  background-color: rgba(0, 0, 0, 0.1);
}
